<ion-view>
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </div>
        <h1 class="title">About</h1>
    </ion-header-bar>

    <ion-content padding="true">

<div class="card" id="topofpage">
  <div class="item item-divider">
    My profile
  </div>



 <div class="ui-form">
        <div class="ui-profile-photo"><img src=
        "https://m.thesafetytag.com/uploads/avatars/thumb/77f/fef/77ffefd9428b546367b90de3a58d4223.jpg"></div>

        <ul class="ui-description-list ui-description-list-vertical">
            <li><span class="ui-description-term">First
            Name:&nbsp;</span><span class=
            "ui-description-entity">Nick</span></li>

            <li><span class="ui-description-term">Last
            Name:&nbsp;</span><span class=
            "ui-description-entity">Hopkins</span></li>

            <li><span class=
            "ui-description-term">Email:&nbsp;</span><span class=
            "ui-description-entity">coach@spdfn.com</span></li>

            <li><span class="ui-description-term">Phone
            #:&nbsp;</span><span class="ui-description-entity">(267)
            225-8884</span></li>

            <li><span class=
            "ui-description-term">Username:&nbsp;</span><span class=
            "ui-description-entity">coach</span></li>

            <li><span class=
            "ui-description-term">Address:&nbsp;</span><span class=
            "ui-description-entity">555 Prospect Ave Ridgefield, NJ
            07657</span></li>

            <li><span class=
            "ui-description-term">City:&nbsp;</span><span class="ui-description-entity">New
            York</span></li>

            <li><span class="ui-description-term">ZIP:&nbsp;</span><span class=
            "ui-description-entity">94056</span></li>

            <li><span class=
            "ui-description-term">State:&nbsp;</span><span class=
            "ui-description-entity">NY</span></li>

            <li><span class="ui-description-term">Coaching
            since:&nbsp;</span><span class=
            "ui-description-entity">2000</span></li>

            <li><span class="ui-description-term">Bio:&nbsp;</span><span class=
            "ui-description-entity">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis iaculis sodales venenatis. Donec suscipit
            ultricies facilisis. Fusce sit amet interdum ante. Nullam massa
            nisi, iaculis eu venenatis quis, sodales nec dolor. Vivamus at
            risus massa. Maecenas quis magna vitae lorem pharetra suscipit at
            in velit.</span></li>
        </ul>
    </div>




</div>

    </ion-content>
</ion-view>
